<html>
   <head>
   </head>
   <body>
      <div>
         <a href = '/addproduct'>Click here to add product.</a>
         <br>
         <a href = '/logout'>Click here to log out.</a>
         <br>
         <a href = '/listproducts'>Click here to list products.</a>
         <br>
         <a href = '/listcart'>Click here to list cart.</a>
         <br>
         <a href = '/checkoutcart'>Click here to checkout cart.</a>
         <br>
         <a href = '/listcheckouts'>Click here to list checkouts.</a>
      </div>
      <div>
         <h1>Your user identification number is: {{id}}</h1>
      </div>
   </body>
</html>